
/* body, html {
    height: 100%;
    margin: 0;
  }
.bg {
    height: 650px;
    background-image: url("https://i.pinimg.com/originals/e2/71/fd/e271fda72f1e158b5f0569cc72d36d7f.jpg");
    background-repeat: no-repeat;
    background-size: 100% ;  
    
    background-size: cover;
    
   
  } */