.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    flex-wrap: wrap;
  }
  .row > [class*='col-'] {
      margin-top: 0%;
      margin-bottom: 0%;
    display: flex;
    flex-direction: column;
  }